.notFound {
  width: 100%;
  margin: 160px auto 60px;
  display: flex;
  justify-content: center;

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__box {
    margin: 0 auto;
  }

  &__status {
    font-size: 10em;
    font-weight: 400;
    line-height: 169px;
    margin: 0;
  }

  &__message {
    font-size: 1em;
    font-weight: 400;
    line-height: 19px;
    text-align: center;
    margin: 5px 0 0;
  }

  &__link {
    font-size: 0.875em;
    font-weight: 400;
    line-height: 17px;
    text-align: center;
    text-decoration: none;
    color: red;
    margin-top: 184px;
  }

  @media screen and (min-width: 461px) and (max-width: 800px) {
    .notFound {
      margin: 100px auto 222px;
    }
  }

  @media screen and (max-width: 460px) {
    .notFound {
      margin: 80px auto 30px;
    }

    &__status {
      font-size: 5em;
      line-height: 97px;
    }

    &__message {
      margin: 10px 0 0;
    }

    &__link {
      margin-top: 284px;
    }
  }
}
